.inner-container {
  display: grid;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 24px;
  margin-bottom: 24px;

  grid-template-columns: 18% 30% 52%;
  grid-template-areas:
    "picture title . "
    "picture author . "
    "picture description description";
}

.picture {
  grid-area: picture;
  height: 180px;
  width: 180px;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
  color: #606060;
  display: inline-block;
}

.date {
  float: left;
  color: black;
}

.button-pos {
  position: sticky !important;
  bottom: 8px !important;
}

.not-working {
  width: 20px;
  height: 0;
  margin-top: 0;
  margin-left: auto;
}
.description {
  grid-area: description;
}
