.container-comments {
  display: grid;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  grid-template-columns: 30% 65%;

  justify-items: center;
  padding: 24px;
}

.comments-picture-container {
  height: 60%;
  width: 60%;
  display: grid;
}

.comments-picture {
  height: 80%;
  width: 100%;
  place-self: center;
}
.comments-body {
  padding: 24px;
  width: 100%;
}
.comments-title {
  font-size: xx-large;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.comments-box {
  display: inline-block;
}

.comments-author {
  float: left;
  font-size: 16px;
  font-weight: 600;
}

.comments-date {
  float: right;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 18px;
  color: #606060;
}

.comments {
  background-color: white;
  width: 100%;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.input-box > .comments-input {
  border: none;
  outline: none;
  width: 100%;
}
.input-box {
  position: relative;
  display: inline-block;
  width: 100%;
}
.input-box::after,
.input-box::before {
  content: " ";
  width: 0%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: ease-in-out 0.3s all;
}

.input-box::before {
  width: 100%;
  border-bottom: 2px solid #939393;
}

.input-box::after {
  border-bottom: 2px solid black;
}

.input-box:focus-within::after {
  width: 100%;
}

.comments-input:hover {
  width: 100%;
  border-bottom: black;
}

.top-padd {
  padding-top: 0;
  margin-top: 0;
}

.date {
  float: right;
  font-size: 12px;

  color: #606060;
}

.space {
  margin-bottom: 3px;
}

.small-name-text {
  font-size: 12px;
}

.input-fields-container {
  padding-top: 24px;
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 7% 93%;
  grid-template-rows: 50% 50%;
  width: 100%;
}

.label {
  font-size: 14px;
  align-self: end;
  justify-self: center;
}
.back-button {
  position: fixed;
  font-size: 20px;
  top: 40px;
}

.like-button {
  font-size: 24px;
  justify-self: start;

  grid-row: 2;
  grid-column: 2;
}
.dislike-button {
  font-size: 24px;
  justify-self: center;

  grid-row: 2;
  grid-column: 2;
}
