@import "~antd/dist/antd.css";
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.login-button {
  float: right;
}

.sider-layout {
  overflow: "auto";
  height: "100vh";
  position: "sticky";
  top: 0;
  left: 0;
}
