.shadow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.box {
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 5px;
  margin: 15% auto;
  width: 50%;
  height: 40%;
  padding: 24px;
  display: grid;
  grid-template-columns: 35% 60%;
}

.img {
  height: 200px;
  padding-bottom: 12px;
  width: 200px;
}

.input-form {
  display: grid;
  grid-template-rows: 12% 6% 72%;
}
